* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url("../assets/Walpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 2000px;
}

/* Content Awal */

section {
    text-align: center;
}

section h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

section form p {
    color: black;
    text-align: center;
    margin-top: 10%;
    font-size: 18px;
}

section form .celsius {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 16px;


}

.celsius label {
    margin-right: 415px;
}

form .celsius input {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    display: inline-block;
}

section form .button {
    margin-top: 10px;
    margin-right: 280px;
}

section form .button .Konversi {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

section form .button .Reset {
    background-color: #f44336;
    ;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

section form .button .Reverse {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

/* Fahrenheit */


section form .fahrenheit {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 16px;

}

.fahrenheit label {
    margin-right: 400px;
}

form .fahrenheit input {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    display: inline-block;
}


/* Cara Kalkulasi */
section form .kalkulasi {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 16px;

}

.kalkulasi label {
    margin-right: 400px;
}

form .kalkulasi input {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    display: inline-block;
}

/* Hasil */

.hasil h3 {
    margin-top: 15px;
    margin-right: 360px;
    font-size: 16px;
    color: blue;
    font-weight: 700;
}